#left_panel {
    dock: left;
    width: 25%;
    height: 100%;
    background: #0D47A1;
    color: #FFFFFF;
}


#right_panel {
    dock: right;
    width: 75%;
    height: 100%;
    background: #FFFFFF;
    color: #212121;
}


#left_panel_header {
    margin: 1 1;
    width: auto;
    text-align: center;
}

Label {
    padding: 1 1;
}






